<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>DemoApp</title>
=======
  <title>FirstApp</title>
>>>>>>> fe79db64b7a6e34b610f75f3d5d8353179545232
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
